* {
    --background-color: #e3e3ff;
    --header-color: #002f72;
    --header-text: #ffffff;
    --text-color: #000000;
}

body {
    color: var(--text-color);
    width: 50%;
    margin: auto;
    border: 3px solid var(--header-color);
    border-radius: 10px;
}

header, footer {
    background-color: var(--header-color);
    color: var(--header-text);
    text-align: center;
    padding: 10px;
}

main {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: var(--background-color)
}

.required-label::before, .instruct::after{
    content: "*";
    color: red;
}

div {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.stars {
    display: grid;
    grid-template-columns: repeat(5, auto);
    text-align: center;
}

.features {
    gap: 15px;
}

label.comment {
    display: flex;
    flex-direction: column;
}

textarea {
    min-width: 100%;
    min-height: 100px;
}

input[type="text"] {
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--header-text);
}

.submit, a {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background-color: var(--header-color);
    color: var(--header-text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit:hover, a:hover {
    background-color: #3167b3;
}