@media screen and (max-width: 973px) {
    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
        height: 75%;
    }

    h1 {
        font-size: 1rem;
    }
    
    #menu .show {
        display: flex;
        flex-direction: column;
    }

    .navigation {
        display: none;
    }

    .navigation.show {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    #menu {
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
        text-decoration: none;
        background-color: var(--color-6);
        border-radius: 3px;
        color: var(--color-5);
        border: 1px solid var(--color-5);
        width: 75px;
    }

    #menu:hover {
        background-color: var(--color-2);
        color: var(--color-5);
    }

    #menu::before {
        content: "≡";
    }

    #menu.show::before {
        content: "X";
    }

    .intro, .section1, .section2 {
        border-radius: 0;
    }

    footer {
        padding-top: 2rem;
    }

    header {
        padding-bottom: 1rem;
    }
    
    .team, .contact {
        grid-template-columns: 1fr;
    }

    .team h2, .introduction, .contact h2 {
        grid-column: 1;
    }

    .employee1, .employee2, .employee3, .contact-img1, .contact-img2, .contact-img3 {
        justify-self: center;
    }
}