@media screen and (min-width: 700px) {
    header {
        display: block;
        width: 100%;
        text-align: center;
    }

    #menu {
        display: none;
    }

    .grid {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        padding: 1rem;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}