@media screen and (min-width: 750px) {
    main {
            position: relative;
    }

    h1{
        font-size: 5rem;
    }
    h2 {
        position: absolute;
        top: -3rem;
        left: -2rem;
        justify-items: normal;
        margin-right: 5rem;
    }

    .data,
    .weather {
        grid-template-columns: 1fr 1fr;
    }

    .data {
        top: 5rem;
        left: 2rem;
    }

    .weather {
        bottom: 5rem;
        right: 2rem;
    }

    section {
        position: absolute;
        background-color: var(--color-5);
        padding: 1rem;
        border: none;
        border-radius: 0px;
    }
}