@media screen and (min-width: 700px) {
    header {
        display: block;
        width: 100%;
        text-align: center;
    }

    #menu {
        display: none;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 1rem;
    }

    img {
        max-width: 100%;
        min-width: 100%;
    }

    .navigation, .navigation.show{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: 2px solid var(--color-4);
        border-bottom: 3px solid var(--color-4);
    }    
}